<div class="posesVids">

	<div class="navPills">
		<ul class="nav nav-pills nav-justified">
			<!--		<ul class="nav nav-pills">   -->

			<li ng-class="{ active: main.active.tab == 'chairPoses' }">

				<a ui-sref='poses.chairYoga' ng-click='poses.chairYoga'>Chair Yoga Practice</a>
			</li>
			<li ng-class="{ active: main.active.tab == 'downDog' }">
				<a ui-sref='poses.downDog' ng-click='poses.downDog'>Relieve Stress</a>
			</li>
			<li ng-class="{ active: main.active.tab == 'warriorII' }">
				<a ui-sref='poses.warriorII' ng-click='poses.warriorII'>Increase Focus</a>
			</li>

		</ul>


		<!-- <div class="videoPageOrientation">
			<div ui-view></div>
	</div> -->
		<!-- Add coments to the page -->

		<section style="margin: 5em 5em 5em 5em">
			<form ng-submit="poses.addComment()">
				<div class="commentsForm form-group">
					<h4 class="title">
						<strong>Share a Comment</strong>
					</h4>
					<label for="inputNAme">Name</label>
					<input type="text" class="form-control" autofos="true" id="inputName" placeholder="Name" ng-model="poses.newCommentName"></input>
					<label for="inputComment">Message</label>
					<textarea class="form-control" rows="8" placeholder="Share your message" ng-model="poses.newCommentText"></textarea>
					<button class="btn btn-default" type="submit">Submit</button>
				</div>
			</form>

			<!-- previously left comments display below the form -->
			<div class="commentsSave">
				<h4>
					<strong>Previous Comments</strong>
				</h4>
				<ul class="list-group" ng-repeat="(key, comment) in poses.comments">
					<li class="list-group item">
						{{comment.name}}
						<!-- comment text ex: {{comment.text}} -->
						<br />
						<small>
							<strong>{{comment.text}}</strong>
							<!-- name of who gave comment ex :{{comment.text}} -->
						</small>
					</li>
				</ul>
			</div>
		</section>
	</div>
</div>
