<div class="posesVids">

	<div class="navPills">
		<ul class="nav nav-pills nav-justified">
			<!--		<ul class="nav nav-pills">   -->

			<li ng-class="{ active: main.active.tab == 'chairPoses' }">

				<a ui-sref='poses.chairYoga' ng-click='poses.chairYoga'>Chair Yoga Practice</a>
			</li>
			<li ng-class="{ active: main.active.tab == 'downDog' }">
				<a ui-sref='poses.downDog' ng-click='poses.downDog'>Relieve Stress</a>
			</li>
			<li ng-class="{ active: main.active.tab == 'warriorII' }">
				<a ui-sref='poses.warriorII' ng-click='poses.warriorII'>Increase Focus</a>
			</li>

		</ul>
		<div class="videoPageOrientation">
			<div ui-view></div>
	</div>
<!-- Add coments to the page -->
		<section style="margin: 5em 5em 5em 5em">
		<form ng-submit="">
			<div class="form-group">

			<!-- <div class="comment form-control"> -->
				<h4 class="title"><bold>Share a Comment</bold></h4>
			<label for="inputNAme">Name</label>
			<input type="text" class="form-control" autofos="true"id="inputName" ng-moedl="" placeholder="Name"></input>
			<label>Message</label>
			<textarea></textarea>
		</div>
		</form>

		</section>
		</div>
	</div>
</div>
