<div class="weatherForYoga">
<form>
  <input type="tel" ng-model="zip">
  <input type="submit" value="Search" ng-click="findWeather(zip)">
</form>
<p ng-show="zip">Searching the forecasts for: {{zip}}</p>
<div>
  <h1>Forecast For: {{ place.timezone }} </h1>
  <h2> Current: {{ place.currently.summary}} | {{ place.currently.temperature }}&deg;
    <!-- <img src="http://l.yimg.com/a/i/us/we/52/{{place.item.condition.code}}.gif"/> -->
  </h2>
  <div ng-repeat="forecast in place.daily.data">
    <p><strong>{{ forecast.time }}</strong> - {{ forecast.summary }}</p>
      <p>H: {{ forecast.high }}&deg; | L: {{ forecast.low }}&deg;</p>
</div>
</div>
