<!--

the below is a chair yoga video but there is not audio and is only a placeholder for the time being

-->

<!--
<div class="downDogVideo" align="center">

	<iframe width="560" height="315" src="https://www.youtube.com/embed/tAUf7aajBWE" align="middle" frameborder="0" allowfullscreen></iframe>

</div>-->


<div class="chairYogaView" align="center">

	<iframe width="560" height="315" src="https://www.youtube.com/embed/6VLw2sjvuNU" align="middle" frameborder="0" allowfullscreen></iframe>


</div>