<div class="posesVids">

	<div class="navPills">
		<ul class="nav nav-pills nav-justified">
			<li ng-class="{ active: main.active.tab == 'chairPoses' }">
				<a ui-sref='poses.chairYoga' ng-click='poses.chairYoga'>Chair Yoga Practice</a>
			</li>

			<li ng-class="{ active: main.active.tab == 'downDog' }">
				<a ui-sref='poses.downDog' ng-click='poses.downDog'>Relieve Stress</a>
			</li>

			<li ng-class="{ active: main.active.tab == 'warriorII' }">
				<a ui-sref='poses.warriorII' ng-click='poses.warriorII'>Increase Focus</a>
			</li>

		</ul>
		<div class="videoPageOrientation">
			<div ui-view></div>
		</div>
	</div>




</div>


<!-- NOTES
 
 navs for each video...click on one to watch chair yoga. click on another to watch downdog, etc. -> embed videos with links to their own html view     -->

<!--    Re-format tabs in scss to move tabs to tob left corner of the page  -->

<!--    except for the first tab...the names are place holders for now. want to have videos that focus on certain benefits like enhancing focus       -->