    <nav class="findAPose">
            <div class="gridPoseMenu">
                <ul class="poseSelection">
                  <li class="col-md-4">
                      <a href="#">Build Focus</a>
   <!-- pose sequence that builds focus. Array tag for focus... -->
               </li>
               <li class="col-md-4">
                   <a href="#">Calm The Mind</a>
  <!-- pose sequence that builds focus. Array tag for calm mind... -->

               </li>
                <li class="col-md-4">
                    <a href="#">Relieve Stress</a>
<!-- pose sequence that builds focus. Array tag for stress relief... -->
                </li>
                </ul>
        </div>
</nav>


<div class="chairYoga">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6VLw2sjvuNU" frameborder="0" allowfullscreen></iframe>
</div>

<!--
// the below is a chair yoga video but there is not audio

<div class="yoga-video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/tAUf7aajBWE" frameborder="0" allowfullscreen></iframe>
</div>-->
