<div class='studiosMap'>

<iframe width="600" height="450" src="https://www.google.com/maps/embed/v3/search?key=AIzaSyBNjNWu7435WkxRVnJJvGEhEvMItzPIBTM&q=yoga+studios+Orlando" frameborder="0" allowfullscreen></iframe>

<!--    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>  

<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v3/search?key=AIzaSyBNjNWu7435WkxRVnJJvGEhEvMItzPIBTM&q=yoga+studios+Orlando&attribution_source=Google+Maps+Embed+API"></iframe>
-->


</div>