<div class='studiosMap'>

    <!--
    <div class='col-md-12'>
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-markers models="studioMarkers" coords="'self'" icon="icon"></ui-gmap-markers>
        </ui-gmap-google-map>
    </div>

    <div class='reviews'>
        <form>

            <textarea rows='10' cols='10' ng-model='yogaReview' style="background: white !important"></textarea>
            <button ng-click='addReview()'>Submit</button>
        </form>
       <ul> 
-->
    <!--reference the firebase array with the the list of reviews to be saved on the page-->
    <!--
  <li ng-repeat='...'></li>
</ul>
</div>
-->

</div>