<div class='studiosMap'>

    <ui-gmap-google-map center='map.center' zoom='map.zoom'>

        <ui-gmap-markers models="studioMarkers" coords="'self'" icon="icon"></ui-gmap-markers>
    </ui-gmap-google-map>

    <!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=11&center=28.5383%2C-81.3792&key=AIzaSyBNjNWu7435WkxRVnJJvGEhEvMItzPIBTM"></iframe>-->-->


    <!--<iframe width="600" height="450" src="https://www.google.com/maps/embed/v3/search?key=AIzaSyBNjNWu7435WkxRVnJJvGEhEvMItzPIBTM&q=yoga+studios+Orlando"></iframe>-->

    <!--    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>  

<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v3/search?key=AIzaSyBNjNWu7435WkxRVnJJvGEhEvMItzPIBTM&q=yoga+studios+Orlando&attribution_source=Google+Maps+Embed+API&attribution_web_url=http://www.google.com/"></iframe>
-->

</div>